body {
  background-color: antiquewhite;
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20230614/pngtree-cartoon-outlines-of-a-tropical-beach-with-palm-trees-image_2916571.jpg");
  background-size: cover;
  z-index: 1;
}

.ponto {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  /* background-color: blue; */
  background-image: url(gandalf-onthe-beach.jpeg);
  background-size: contain;
  position: absolute;
}
