h1 {
  text-align: center;
}
.container {
  text-align: center;
  align-items: center;
}

label,
input,
button {
  margin-bottom: 10px;
}

.graphs {
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

.bar {
  width: 0px;
  height: 0px;
  background-color: rgb(0, 0, 0);
  margin-right: 10px;
}
