body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tabelas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tabelas table {
  margin-left: 20px;
  margin-top: 20px;
}

.text {
  padding: 5px;
  text-align: center;
}
